table {
	table-layout: fixed;
}

.kk-A1 {
	background-color: #ff5852;
}
.kk-A2 {
	background-color: #ffa8c7;
}
.kk-B1 {
	background-color: #a1beff;
}
.kk-B2 {
	background-color: #c7ff7d;
}
.kk-B3 {
	background-color: #74ff4f;
}
.kk-B4 {
	background-color: #39beff;
}
.kk-C1 {
	background-color: #fff1b1;
}
.kk-C2 {
	background-color: #ffd44a;
}
.kk-C3 {
	background-color: #ffc46f;
}
.kk-D {
	background-color: #9489ff;
}
.kk-A1 {
	background-color: #ff5852;
}
.kk-A1 {
	background-color: #ff5852;
}
